.auth_page {
  height: 100%;
  width: 100vw;
  font-family: "Circular Spotify Tx T Bold";
}
h1 {
  color: #fff;
}

.text_spotify {
  font-size: 1.5rem;
}
.auth_text {
  font-size: 1rem;
}
@media only screen and (max-width: 1023px) {
  .auth_page {
    display: block;
  }
  .auth_text {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#e66465, #9198e5);
  }

  .auth_image_container {
    height: 50vh;
    width: 100vw;
  }

  .auth_image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .auth_image_content {
    width: 350px;
    height: 100px;
    line-height: 100px;

    display: flex;
    justify-content: space-between;
  }
  .logo_spotify {
    margin-left: 50px;
    height: 100px;
    width: 100px;
  }
  .text_spotify {
    margin-right: 50px;
    letter-spacing: 1px;
  }
}
@media only screen and (min-width: 1024px) {
  .auth_page {
    display: flex;
  }
  .auth_text {
    height: calc(100vh-4px);
    width: 50vw;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#e66465, #9198e5);
  }

  .auth_image_container {
    height: 100vh;
    width: 50vw;
  }

  .auth_image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .auth_image_content {
    width: 500px;
    height: 200px;
    line-height: 200px;

    display: flex;
    justify-content: space-between;
  }
  .logo_spotify {
    margin-left: 50px;
    height: 200px;
    width: 200px;
  }
  .text_spotify {
    margin-right: 50px;
    letter-spacing: 1px;
  }
}
