.home_title {
  font-size: 1rem;
}

@media only screen and (max-width: 1023px) {
  .home_page {
    width: 100%;
  }
  .home_title {
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
  }
  .home_content {
    display: block;

    margin: 0 25px;
  }
  .createPlaylistAndAlbums_list {
    width: 100%;

    margin: 50 0;
  }
  .create_list {
    margin-bottom: 10px;
  }
  .searchPlaylist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
  }
  .cardImageSize {
    height: 100px;
    max-width: 100px;
  } /*button*/
  .MuiCardActions-root,
  .MuiCardActions-spacing {
    width: 50px !important;
    position: absolute;
    right: 30px;
  }
  .buttonToTracks {
    width: 50px !important;
    margin-right: 20px !important;
    right: 0px !important;
  }
  .card {
    height: 100px;
    position: relative;
  }
}

@media only screen and (min-width: 1024px) {
  .home_page {
    width: 100%;
    height: 100%;
  }
  .home_title {
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100px;
    line-height: 100px;
  }

  .home_content {
    width: calc(100vw - 100px);
    height: calc(100vh - (100px));
    display: flex;
    align-items: center;
    margin: 0 50px;
  }

  .createPlaylistAndAlbums_list {
    width: 50vw;
    height: 500px;
  }
  .create_list {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }

  .albums_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }
  .albums_list > div {
    height: 340px;
  }

  .search_container {
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
  }

  .searchPlaylist {
    width: 50vw;
    height: 500px;
    display: flex;
  }

  .search {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cardImageSize {
    height: 160px;
  }
}
